openapi: 3.0.1
info:
  title: Identity.SignIns
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /auditLogs:
    get:
      tags:
        - auditLogs.auditLogRoot
      summary: Get auditLogs
      operationId: auditLogs.auditLogRoot_GetAuditLogRoot
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - signIns
                - directoryAudits
                - restrictedSignIns
                - directoryProvisioning
                - provisioning
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - signIns
                - directoryAudits
                - restrictedSignIns
                - directoryProvisioning
                - provisioning
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
          links:
            signIns:
              operationId: auditLogs.GetSignIns
              parameters:
                signIn-id: $response.body#/id
            directoryAudits:
              operationId: auditLogs.GetDirectoryAudits
              parameters:
                directoryAudit-id: $response.body#/id
            restrictedSignIns:
              operationId: auditLogs.GetRestrictedSignIns
              parameters:
                restrictedSignIn-id: $response.body#/id
            directoryProvisioning:
              operationId: auditLogs.GetDirectoryProvisioning
              parameters:
                provisioningObjectSummary-id: $response.body#/id
            provisioning:
              operationId: auditLogs.GetProvisioning
              parameters:
                provisioningObjectSummary-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - auditLogs.auditLogRoot
      summary: Update auditLogs
      operationId: auditLogs.auditLogRoot_UpdateAuditLogRoot
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.auditLogRoot'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryAudits:
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudits from auditLogs
      operationId: auditLogs_ListDirectoryAudits
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - category
                - category desc
                - correlationId
                - correlationId desc
                - result
                - result desc
                - resultReason
                - resultReason desc
                - activityDisplayName
                - activityDisplayName desc
                - activityDateTime
                - activityDateTime desc
                - loggedByService
                - loggedByService desc
                - operationType
                - operationType desc
                - initiatedBy
                - initiatedBy desc
                - targetResources
                - targetResources desc
                - additionalDetails
                - additionalDetails desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - category
                - correlationId
                - result
                - resultReason
                - activityDisplayName
                - activityDateTime
                - loggedByService
                - operationType
                - initiatedBy
                - targetResources
                - additionalDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of directoryAudit
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.directoryAudit'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.directoryAudit
      summary: Create new navigation property to directoryAudits for auditLogs
      operationId: auditLogs_CreateDirectoryAudits
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryAudits/{directoryAudit-id}':
    get:
      tags:
        - auditLogs.directoryAudit
      summary: Get directoryAudits from auditLogs
      operationId: auditLogs_GetDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: directoryAudit-id of directoryAudit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - category
                - correlationId
                - result
                - resultReason
                - activityDisplayName
                - activityDateTime
                - loggedByService
                - operationType
                - initiatedBy
                - targetResources
                - additionalDetails
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - auditLogs.directoryAudit
      summary: Update the navigation property directoryAudits in auditLogs
      operationId: auditLogs_UpdateDirectoryAudits
      parameters:
        - name: directoryAudit-id
          in: path
          description: 'key: directoryAudit-id of directoryAudit'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: directoryAudit
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.directoryAudit'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/directoryProvisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLogs_ListDirectoryProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityDateTime
                - activityDateTime desc
                - tenantId
                - tenantId desc
                - jobId
                - jobId desc
                - cycleId
                - cycleId desc
                - changeId
                - changeId desc
                - action
                - action desc
                - durationInMilliseconds
                - durationInMilliseconds desc
                - servicePrincipal
                - servicePrincipal desc
                - initiatedBy
                - initiatedBy desc
                - sourceSystem
                - sourceSystem desc
                - targetSystem
                - targetSystem desc
                - sourceIdentity
                - sourceIdentity desc
                - targetIdentity
                - targetIdentity desc
                - statusInfo
                - statusInfo desc
                - provisioningSteps
                - provisioningSteps desc
                - modifiedProperties
                - modifiedProperties desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - tenantId
                - jobId
                - cycleId
                - changeId
                - action
                - durationInMilliseconds
                - servicePrincipal
                - initiatedBy
                - sourceSystem
                - targetSystem
                - sourceIdentity
                - targetIdentity
                - statusInfo
                - provisioningSteps
                - modifiedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of provisioningObjectSummary
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to directoryProvisioning for auditLogs
      operationId: auditLogs_CreateDirectoryProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/directoryProvisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get directoryProvisioning from auditLogs
      operationId: auditLogs_GetDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: provisioningObjectSummary-id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - tenantId
                - jobId
                - cycleId
                - changeId
                - action
                - durationInMilliseconds
                - servicePrincipal
                - initiatedBy
                - sourceSystem
                - targetSystem
                - sourceIdentity
                - targetIdentity
                - statusInfo
                - provisioningSteps
                - modifiedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property directoryProvisioning in auditLogs
      operationId: auditLogs_UpdateDirectoryProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: provisioningObjectSummary-id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/provisioning:
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      operationId: auditLogs_ListProvisioning
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - activityDateTime
                - activityDateTime desc
                - tenantId
                - tenantId desc
                - jobId
                - jobId desc
                - cycleId
                - cycleId desc
                - changeId
                - changeId desc
                - action
                - action desc
                - durationInMilliseconds
                - durationInMilliseconds desc
                - servicePrincipal
                - servicePrincipal desc
                - initiatedBy
                - initiatedBy desc
                - sourceSystem
                - sourceSystem desc
                - targetSystem
                - targetSystem desc
                - sourceIdentity
                - sourceIdentity desc
                - targetIdentity
                - targetIdentity desc
                - statusInfo
                - statusInfo desc
                - provisioningSteps
                - provisioningSteps desc
                - modifiedProperties
                - modifiedProperties desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - tenantId
                - jobId
                - cycleId
                - changeId
                - action
                - durationInMilliseconds
                - servicePrincipal
                - initiatedBy
                - sourceSystem
                - targetSystem
                - sourceIdentity
                - targetIdentity
                - statusInfo
                - provisioningSteps
                - modifiedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of provisioningObjectSummary
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Create new navigation property to provisioning for auditLogs
      operationId: auditLogs_CreateProvisioning
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/provisioning/{provisioningObjectSummary-id}':
    get:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Get provisioning from auditLogs
      operationId: auditLogs_GetProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: provisioningObjectSummary-id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - activityDateTime
                - tenantId
                - jobId
                - cycleId
                - changeId
                - action
                - durationInMilliseconds
                - servicePrincipal
                - initiatedBy
                - sourceSystem
                - targetSystem
                - sourceIdentity
                - targetIdentity
                - statusInfo
                - provisioningSteps
                - modifiedProperties
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - auditLogs.provisioningObjectSummary
      summary: Update the navigation property provisioning in auditLogs
      operationId: auditLogs_UpdateProvisioning
      parameters:
        - name: provisioningObjectSummary-id
          in: path
          description: 'key: provisioningObjectSummary-id of provisioningObjectSummary'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: provisioningObjectSummary
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.provisioningObjectSummary'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/restrictedSignIns:
    get:
      tags:
        - auditLogs.restrictedSignIn
      summary: Get restrictedSignIns from auditLogs
      operationId: auditLogs_ListRestrictedSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - alternateSignInName
                - alternateSignInName desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - appliedConditionalAccessPolicies
                - appliedConditionalAccessPolicies desc
                - authenticationDetails
                - authenticationDetails desc
                - authenticationMethodsUsed
                - authenticationMethodsUsed desc
                - authenticationProcessingDetails
                - authenticationProcessingDetails desc
                - authenticationRequirement
                - authenticationRequirement desc
                - authenticationRequirementPolicies
                - authenticationRequirementPolicies desc
                - clientAppUsed
                - clientAppUsed desc
                - conditionalAccessStatus
                - conditionalAccessStatus desc
                - correlationId
                - correlationId desc
                - createdDateTime
                - createdDateTime desc
                - deviceDetail
                - deviceDetail desc
                - isInteractive
                - isInteractive desc
                - ipAddress
                - ipAddress desc
                - location
                - location desc
                - mfaDetail
                - mfaDetail desc
                - networkLocationDetails
                - networkLocationDetails desc
                - originalRequestId
                - originalRequestId desc
                - processingTimeInMilliseconds
                - processingTimeInMilliseconds desc
                - riskDetail
                - riskDetail desc
                - riskEventTypes
                - riskEventTypes desc
                - riskEventTypes_v2
                - riskEventTypes_v2 desc
                - riskLevelAggregated
                - riskLevelAggregated desc
                - riskLevelDuringSignIn
                - riskLevelDuringSignIn desc
                - riskState
                - riskState desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
                - resourceTenantId
                - resourceTenantId desc
                - servicePrincipalId
                - servicePrincipalId desc
                - servicePrincipalName
                - servicePrincipalName desc
                - signInEventTypes
                - signInEventTypes desc
                - status
                - status desc
                - tokenIssuerName
                - tokenIssuerName desc
                - tokenIssuerType
                - tokenIssuerType desc
                - userAgent
                - userAgent desc
                - userDisplayName
                - userDisplayName desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
                - targetTenantId
                - targetTenantId desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - alternateSignInName
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationRequirement
                - authenticationRequirementPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - isInteractive
                - ipAddress
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - processingTimeInMilliseconds
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - resourceDisplayName
                - resourceId
                - resourceTenantId
                - servicePrincipalId
                - servicePrincipalName
                - signInEventTypes
                - status
                - tokenIssuerName
                - tokenIssuerType
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
                - targetTenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of restrictedSignIn
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.restrictedSignIn
      summary: Create new navigation property to restrictedSignIns for auditLogs
      operationId: auditLogs_CreateRestrictedSignIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/restrictedSignIns/{restrictedSignIn-id}':
    get:
      tags:
        - auditLogs.restrictedSignIn
      summary: Get restrictedSignIns from auditLogs
      operationId: auditLogs_GetRestrictedSignIns
      parameters:
        - name: restrictedSignIn-id
          in: path
          description: 'key: restrictedSignIn-id of restrictedSignIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedSignIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - alternateSignInName
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationRequirement
                - authenticationRequirementPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - isInteractive
                - ipAddress
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - processingTimeInMilliseconds
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - resourceDisplayName
                - resourceId
                - resourceTenantId
                - servicePrincipalId
                - servicePrincipalName
                - signInEventTypes
                - status
                - tokenIssuerName
                - tokenIssuerType
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
                - targetTenantId
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - auditLogs.restrictedSignIn
      summary: Update the navigation property restrictedSignIns in auditLogs
      operationId: auditLogs_UpdateRestrictedSignIns
      parameters:
        - name: restrictedSignIn-id
          in: path
          description: 'key: restrictedSignIn-id of restrictedSignIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: restrictedSignIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.restrictedSignIn'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /auditLogs/signIns:
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIns from auditLogs
      operationId: auditLogs_ListSignIns
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - alternateSignInName
                - alternateSignInName desc
                - appDisplayName
                - appDisplayName desc
                - appId
                - appId desc
                - appliedConditionalAccessPolicies
                - appliedConditionalAccessPolicies desc
                - authenticationDetails
                - authenticationDetails desc
                - authenticationMethodsUsed
                - authenticationMethodsUsed desc
                - authenticationProcessingDetails
                - authenticationProcessingDetails desc
                - authenticationRequirement
                - authenticationRequirement desc
                - authenticationRequirementPolicies
                - authenticationRequirementPolicies desc
                - clientAppUsed
                - clientAppUsed desc
                - conditionalAccessStatus
                - conditionalAccessStatus desc
                - correlationId
                - correlationId desc
                - createdDateTime
                - createdDateTime desc
                - deviceDetail
                - deviceDetail desc
                - isInteractive
                - isInteractive desc
                - ipAddress
                - ipAddress desc
                - location
                - location desc
                - mfaDetail
                - mfaDetail desc
                - networkLocationDetails
                - networkLocationDetails desc
                - originalRequestId
                - originalRequestId desc
                - processingTimeInMilliseconds
                - processingTimeInMilliseconds desc
                - riskDetail
                - riskDetail desc
                - riskEventTypes
                - riskEventTypes desc
                - riskEventTypes_v2
                - riskEventTypes_v2 desc
                - riskLevelAggregated
                - riskLevelAggregated desc
                - riskLevelDuringSignIn
                - riskLevelDuringSignIn desc
                - riskState
                - riskState desc
                - resourceDisplayName
                - resourceDisplayName desc
                - resourceId
                - resourceId desc
                - resourceTenantId
                - resourceTenantId desc
                - servicePrincipalId
                - servicePrincipalId desc
                - servicePrincipalName
                - servicePrincipalName desc
                - signInEventTypes
                - signInEventTypes desc
                - status
                - status desc
                - tokenIssuerName
                - tokenIssuerName desc
                - tokenIssuerType
                - tokenIssuerType desc
                - userAgent
                - userAgent desc
                - userDisplayName
                - userDisplayName desc
                - userId
                - userId desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - alternateSignInName
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationRequirement
                - authenticationRequirementPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - isInteractive
                - ipAddress
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - processingTimeInMilliseconds
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - resourceDisplayName
                - resourceId
                - resourceTenantId
                - servicePrincipalId
                - servicePrincipalName
                - signInEventTypes
                - status
                - tokenIssuerName
                - tokenIssuerType
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of signIn
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.signIn'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - auditLogs.signIn
      summary: Create new navigation property to signIns for auditLogs
      operationId: auditLogs_CreateSignIns
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/auditLogs/signIns/{signIn-id}':
    get:
      tags:
        - auditLogs.signIn
      summary: Get signIns from auditLogs
      operationId: auditLogs_GetSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: signIn-id of signIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: signIn
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - alternateSignInName
                - appDisplayName
                - appId
                - appliedConditionalAccessPolicies
                - authenticationDetails
                - authenticationMethodsUsed
                - authenticationProcessingDetails
                - authenticationRequirement
                - authenticationRequirementPolicies
                - clientAppUsed
                - conditionalAccessStatus
                - correlationId
                - createdDateTime
                - deviceDetail
                - isInteractive
                - ipAddress
                - location
                - mfaDetail
                - networkLocationDetails
                - originalRequestId
                - processingTimeInMilliseconds
                - riskDetail
                - riskEventTypes
                - riskEventTypes_v2
                - riskLevelAggregated
                - riskLevelDuringSignIn
                - riskState
                - resourceDisplayName
                - resourceId
                - resourceTenantId
                - servicePrincipalId
                - servicePrincipalName
                - signInEventTypes
                - status
                - tokenIssuerName
                - tokenIssuerType
                - userAgent
                - userDisplayName
                - userId
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.signIn'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - auditLogs.signIn
      summary: Update the navigation property signIns in auditLogs
      operationId: auditLogs_UpdateSignIns
      parameters:
        - name: signIn-id
          in: path
          description: 'key: signIn-id of signIn'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: signIn
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.signIn'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /dataPolicyOperations:
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get entities from dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_ListDataPolicyOperation
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - completedDateTime
                - completedDateTime desc
                - status
                - status desc
                - storageLocation
                - storageLocation desc
                - userId
                - userId desc
                - submittedDateTime
                - submittedDateTime desc
                - progress
                - progress desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedDateTime
                - status
                - storageLocation
                - userId
                - submittedDateTime
                - progress
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of dataPolicyOperation
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Add new entity to dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_CreateDataPolicyOperation
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/dataPolicyOperations/{dataPolicyOperation-id}':
    get:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Get entity from dataPolicyOperations by key
      operationId: dataPolicyOperations.dataPolicyOperation_GetDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: 'key: dataPolicyOperation-id of dataPolicyOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - completedDateTime
                - status
                - storageLocation
                - userId
                - submittedDateTime
                - progress
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Update entity in dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_UpdateDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: 'key: dataPolicyOperation-id of dataPolicyOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataPolicyOperation'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - dataPolicyOperations.dataPolicyOperation
      summary: Delete entity from dataPolicyOperations
      operationId: dataPolicyOperations.dataPolicyOperation_DeleteDataPolicyOperation
      parameters:
        - name: dataPolicyOperation-id
          in: path
          description: 'key: dataPolicyOperation-id of dataPolicyOperation'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataPolicyOperation
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identity/userFlows:
    get:
      tags:
        - identity.identityUserFlow
      summary: Get userFlows from identity
      operationId: identity_ListUserFlows
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - userFlowType
                - userFlowType desc
                - userFlowTypeVersion
                - userFlowTypeVersion desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userFlowType
                - userFlowTypeVersion
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of identityUserFlow
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.identityUserFlow'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identity.identityUserFlow
      summary: Create new navigation property to userFlows for identity
      operationId: identity_CreateUserFlows
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityUserFlow'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlow'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identity/userFlows/{identityUserFlow-id}':
    get:
      tags:
        - identity.identityUserFlow
      summary: Get userFlows from identity
      operationId: identity_GetUserFlows
      parameters:
        - name: identityUserFlow-id
          in: path
          description: 'key: identityUserFlow-id of identityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityUserFlow
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - userFlowType
                - userFlowTypeVersion
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityUserFlow'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - identity.identityUserFlow
      summary: Update the navigation property userFlows in identity
      operationId: identity_UpdateUserFlows
      parameters:
        - name: identityUserFlow-id
          in: path
          description: 'key: identityUserFlow-id of identityUserFlow'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityUserFlow
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityUserFlow'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityProviders:
    get:
      tags:
        - identityProviders.identityProvider
      summary: Get entities from identityProviders
      operationId: identityProviders.identityProvider_ListIdentityProvider
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - type
                - type desc
                - name
                - name desc
                - clientId
                - clientId desc
                - clientSecret
                - clientSecret desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - type
                - name
                - clientId
                - clientSecret
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of identityProvider
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.identityProvider'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - identityProviders.identityProvider
      summary: Add new entity to identityProviders
      operationId: identityProviders.identityProvider_CreateIdentityProvider
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityProvider'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityProvider'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/identityProviders/{identityProvider-id}':
    get:
      tags:
        - identityProviders.identityProvider
      summary: Get entity from identityProviders by key
      operationId: identityProviders.identityProvider_GetIdentityProvider
      parameters:
        - name: identityProvider-id
          in: path
          description: 'key: identityProvider-id of identityProvider'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProvider
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - type
                - name
                - clientId
                - clientSecret
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityProvider'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityProviders.identityProvider
      summary: Update entity in identityProviders
      operationId: identityProviders.identityProvider_UpdateIdentityProvider
      parameters:
        - name: identityProvider-id
          in: path
          description: 'key: identityProvider-id of identityProvider'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProvider
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityProvider'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - identityProviders.identityProvider
      summary: Delete entity from identityProviders
      operationId: identityProviders.identityProvider_DeleteIdentityProvider
      parameters:
        - name: identityProvider-id
          in: path
          description: 'key: identityProvider-id of identityProvider'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: identityProvider
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityProviders/microsoft.graph.availableProviderTypes():
    get:
      tags:
        - identityProviders.Functions
      summary: Invoke function availableProviderTypes
      operationId: identityProviders_availableProviderTypes
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  nullable: true
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: function
  /informationProtection:
    get:
      tags:
        - informationProtection.informationProtection
      summary: Get informationProtection
      operationId: informationProtection.informationProtection_GetInformationProtection
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - policy
                - sensitivityLabels
                - sensitivityPolicySettings
                - dataLossPreventionPolicies
                - threatAssessmentRequests
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - policy
                - sensitivityLabels
                - sensitivityPolicySettings
                - dataLossPreventionPolicies
                - threatAssessmentRequests
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtection'
          links:
            policy:
              operationId: informationProtection.GetPolicy
              parameters:
                informationProtectionPolicy-id: $response.body#/id
            sensitivityLabels:
              operationId: informationProtection.GetSensitivityLabels
              parameters:
                sensitivityLabel-id: $response.body#/id
            sensitivityPolicySettings:
              operationId: informationProtection.GetSensitivityPolicySettings
              parameters:
                sensitivityPolicySettings-id: $response.body#/id
            dataLossPreventionPolicies:
              operationId: informationProtection.GetDataLossPreventionPolicies
              parameters:
                dataLossPreventionPolicy-id: $response.body#/id
            threatAssessmentRequests:
              operationId: informationProtection.GetThreatAssessmentRequests
              parameters:
                threatAssessmentRequest-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - informationProtection.informationProtection
      summary: Update informationProtection
      operationId: informationProtection.informationProtection_UpdateInformationProtection
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.informationProtection'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /informationProtection/dataLossPreventionPolicies:
    get:
      tags:
        - informationProtection.dataLossPreventionPolicy
      summary: Get dataLossPreventionPolicies from informationProtection
      operationId: informationProtection_ListDataLossPreventionPolicies
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of dataLossPreventionPolicy
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.dataLossPreventionPolicy'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - informationProtection.dataLossPreventionPolicy
      summary: Create new navigation property to dataLossPreventionPolicies for informationProtection
      operationId: informationProtection_CreateDataLossPreventionPolicies
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataLossPreventionPolicy'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataLossPreventionPolicy'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/dataLossPreventionPolicies/{dataLossPreventionPolicy-id}':
    get:
      tags:
        - informationProtection.dataLossPreventionPolicy
      summary: Get dataLossPreventionPolicies from informationProtection
      operationId: informationProtection_GetDataLossPreventionPolicies
      parameters:
        - name: dataLossPreventionPolicy-id
          in: path
          description: 'key: dataLossPreventionPolicy-id of dataLossPreventionPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataLossPreventionPolicy
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dataLossPreventionPolicy'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - informationProtection.dataLossPreventionPolicy
      summary: Update the navigation property dataLossPreventionPolicies in informationProtection
      operationId: informationProtection_UpdateDataLossPreventionPolicies
      parameters:
        - name: dataLossPreventionPolicy-id
          in: path
          description: 'key: dataLossPreventionPolicy-id of dataLossPreventionPolicy'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: dataLossPreventionPolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.dataLossPreventionPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /informationProtection/dataLossPreventionPolicies/microsoft.graph.evaluate:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action evaluate
      operationId: informationProtection.dataLossPreventionPolicies_evaluate
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                target:
                  type: string
                  nullable: true
                evaluationInput:
                  $ref: '#/components/schemas/microsoft.graph.dlpEvaluationInput'
                notificationInfo:
                  $ref: '#/components/schemas/microsoft.graph.dlpNotification'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.dlpEvaluatePoliciesJobResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /informationProtection/microsoft.graph.evaluateLabelsAndPolicies:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action evaluateLabelsAndPolicies
      operationId: informationProtection_evaluateLabelsAndPolicies
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                evaluateSensitivityLabels:
                  $ref: '#/components/schemas/microsoft.graph.evaluateSensitivityLabelsRequest'
                evaluateDataLossPreventionPolicies:
                  $ref: '#/components/schemas/microsoft.graph.dlpEvaluatePoliciesRequest'
                classifyText:
                  $ref: '#/components/schemas/microsoft.graph.textClassificationRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.evaluateLabelsAndPoliciesJobResponse'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /informationProtection/policy:
    get:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Get policy from informationProtection
      operationId: informationProtection_GetPolicy
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - labels
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - labels
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtectionPolicy'
          links:
            labels:
              operationId: informationProtection.policy.GetLabels
              parameters:
                informationProtectionLabel-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Update the navigation property policy in informationProtection
      operationId: informationProtection_UpdatePolicy
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.informationProtectionPolicy'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /informationProtection/policy/labels:
    get:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Get labels from informationProtection
      operationId: informationProtection.policy_ListLabels
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
                - description
                - description desc
                - color
                - color desc
                - sensitivity
                - sensitivity desc
                - tooltip
                - tooltip desc
                - isActive
                - isActive desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - description
                - color
                - sensitivity
                - tooltip
                - isActive
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of informationProtectionLabel
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.informationProtectionLabel'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Create new navigation property to labels for informationProtection
      operationId: informationProtection.policy_CreateLabels
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.informationProtectionLabel'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtectionLabel'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/policy/labels/{informationProtectionLabel-id}':
    get:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Get labels from informationProtection
      operationId: informationProtection.policy_GetLabels
      parameters:
        - name: informationProtectionLabel-id
          in: path
          description: 'key: informationProtectionLabel-id of informationProtectionLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: informationProtectionLabel
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - description
                - color
                - sensitivity
                - tooltip
                - isActive
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtectionLabel'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - informationProtection.informationProtectionPolicy
      summary: Update the navigation property labels in informationProtection
      operationId: informationProtection.policy_UpdateLabels
      parameters:
        - name: informationProtectionLabel-id
          in: path
          description: 'key: informationProtectionLabel-id of informationProtectionLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: informationProtectionLabel
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.informationProtectionLabel'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /informationProtection/policy/labels/microsoft.graph.evaluateApplication:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action evaluateApplication
      operationId: informationProtection.policy.labels_evaluateApplication
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentInfo:
                  $ref: '#/components/schemas/microsoft.graph.contentInfo'
                labelingOptions:
                  $ref: '#/components/schemas/microsoft.graph.labelingOptions'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.informationProtectionAction'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /informationProtection/policy/labels/microsoft.graph.evaluateClassificationResults:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action evaluateClassificationResults
      operationId: informationProtection.policy.labels_evaluateClassificationResults
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentInfo:
                  $ref: '#/components/schemas/microsoft.graph.contentInfo'
                classificationResults:
                  type: array
                  items:
                    $ref: '#/components/schemas/microsoft.graph.classificationResult'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.informationProtectionAction'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /informationProtection/policy/labels/microsoft.graph.evaluateRemoval:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action evaluateRemoval
      operationId: informationProtection.policy.labels_evaluateRemoval
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentInfo:
                  $ref: '#/components/schemas/microsoft.graph.contentInfo'
                downgradeJustification:
                  $ref: '#/components/schemas/microsoft.graph.downgradeJustification'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/microsoft.graph.informationProtectionAction'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /informationProtection/policy/labels/microsoft.graph.extractLabel:
    post:
      tags:
        - informationProtection.Actions
      summary: Invoke action extractLabel
      operationId: informationProtection.policy.labels_extractLabel
      requestBody:
        description: Action parameters
        content:
          application/json:
            schema:
              type: object
              properties:
                contentInfo:
                  $ref: '#/components/schemas/microsoft.graph.contentInfo'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.informationProtectionContentLabel'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  /informationProtection/sensitivityLabels:
    get:
      tags:
        - informationProtection.sensitivityLabel
      summary: Get sensitivityLabels from informationProtection
      operationId: informationProtection_ListSensitivityLabels
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
                - displayName
                - displayName desc
                - description
                - description desc
                - toolTip
                - toolTip desc
                - isEndpointProtectionEnabled
                - isEndpointProtectionEnabled desc
                - isDefault
                - isDefault desc
                - applicationMode
                - applicationMode desc
                - labelActions
                - labelActions desc
                - assignedPolicies
                - assignedPolicies desc
                - priority
                - priority desc
                - autoLabeling
                - autoLabeling desc
                - applicableTo
                - applicableTo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - displayName
                - description
                - toolTip
                - isEndpointProtectionEnabled
                - isDefault
                - applicationMode
                - labelActions
                - assignedPolicies
                - priority
                - autoLabeling
                - applicableTo
                - sublabels
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sublabels
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of sensitivityLabel
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - informationProtection.sensitivityLabel
      summary: Create new navigation property to sensitivityLabels for informationProtection
      operationId: informationProtection_CreateSensitivityLabels
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/sensitivityLabels/{sensitivityLabel-id}':
    get:
      tags:
        - informationProtection.sensitivityLabel
      summary: Get sensitivityLabels from informationProtection
      operationId: informationProtection_GetSensitivityLabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: sensitivityLabel-id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - displayName
                - description
                - toolTip
                - isEndpointProtectionEnabled
                - isDefault
                - applicationMode
                - labelActions
                - assignedPolicies
                - priority
                - autoLabeling
                - applicableTo
                - sublabels
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sublabels
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
          links:
            sublabels:
              operationId: informationProtection.sensitivityLabels.GetSublabels
              parameters:
                sensitivityLabel-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - informationProtection.sensitivityLabel
      summary: Update the navigation property sensitivityLabels in informationProtection
      operationId: informationProtection_UpdateSensitivityLabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: sensitivityLabel-id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/sensitivityLabels/{sensitivityLabel-id}/sublabels':
    get:
      tags:
        - informationProtection.sensitivityLabel
      summary: Get sublabels from informationProtection
      operationId: informationProtection.sensitivityLabels_ListSublabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: sensitivityLabel-id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - name
                - name desc
                - displayName
                - displayName desc
                - description
                - description desc
                - toolTip
                - toolTip desc
                - isEndpointProtectionEnabled
                - isEndpointProtectionEnabled desc
                - isDefault
                - isDefault desc
                - applicationMode
                - applicationMode desc
                - labelActions
                - labelActions desc
                - assignedPolicies
                - assignedPolicies desc
                - priority
                - priority desc
                - autoLabeling
                - autoLabeling desc
                - applicableTo
                - applicableTo desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - name
                - displayName
                - description
                - toolTip
                - isEndpointProtectionEnabled
                - isDefault
                - applicationMode
                - labelActions
                - assignedPolicies
                - priority
                - autoLabeling
                - applicableTo
                - sublabels
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - sublabels
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of sensitivityLabel
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - informationProtection.sensitivityLabel
      summary: Create new navigation property to sublabels for informationProtection
      operationId: informationProtection.sensitivityLabels_CreateSublabels
      parameters:
        - name: sensitivityLabel-id
          in: path
          description: 'key: sensitivityLabel-id of sensitivityLabel'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: sensitivityLabel
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.sensitivityLabel'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/informationProtection/sensitivityLabels/{sensitivityLabel-id}/sublabels/{sensitivityLabel-id1}':
    get:
      tags:
[...]
