openapi: 3.0.1
info:
  title: Identity.Governance
  version: v1.0-beta
servers:
  - url: https://graph.microsoft.com/beta/
    description: Core
paths:
  /accessReviews:
    get:
      tags:
        - accessReviews.accessReview
      summary: Get entities from accessReviews
      operationId: accessReviews.accessReview_ListAccessReview
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
                - status
                - status desc
                - createdBy
                - createdBy desc
                - businessFlowTemplateId
                - businessFlowTemplateId desc
                - reviewerType
                - reviewerType desc
                - description
                - description desc
                - settings
                - settings desc
                - reviewedEntity
                - reviewedEntity desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - startDateTime
                - endDateTime
                - status
                - createdBy
                - businessFlowTemplateId
                - reviewerType
                - description
                - settings
                - reviewedEntity
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of accessReview
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReview'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReview
      summary: Add new entity to accessReviews
      operationId: accessReviews.accessReview_CreateAccessReview
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get entity from accessReviews by key
      operationId: accessReviews.accessReview_GetAccessReview
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - startDateTime
                - endDateTime
                - status
                - createdBy
                - businessFlowTemplateId
                - reviewerType
                - description
                - settings
                - reviewedEntity
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
          links:
            reviewers:
              operationId: accessReviews.GetReviewers
              parameters:
                accessReview-id: $request.path.accessReview-id
                accessReviewReviewer-id: $response.body#/id
            decisions:
              operationId: accessReviews.GetDecisions
              parameters:
                accessReview-id: $request.path.accessReview-id
                accessReviewDecision-id: $response.body#/id
            myDecisions:
              operationId: accessReviews.GetMyDecisions
              parameters:
                accessReview-id: $request.path.accessReview-id
                accessReviewDecision-id: $response.body#/id
            instances:
              operationId: accessReviews.GetInstances
              parameters:
                accessReview-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - accessReviews.accessReview
      summary: Update entity in accessReviews
      operationId: accessReviews.accessReview_UpdateAccessReview
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - accessReviews.accessReview
      summary: Delete entity from accessReviews
      operationId: accessReviews.accessReview_DeleteAccessReview
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/decisions':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get decisions from accessReviews
      operationId: accessReviews_ListDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessReviewId
                - accessReviewId desc
                - reviewedBy
                - reviewedBy desc
                - reviewedDateTime
                - reviewedDateTime desc
                - reviewResult
                - reviewResult desc
                - justification
                - justification desc
                - appliedBy
                - appliedBy desc
                - appliedDateTime
                - appliedDateTime desc
                - applyResult
                - applyResult desc
                - accessRecommendation
                - accessRecommendation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReviewDecision
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReviewDecision
      summary: Create new navigation property to decisions for accessReviews
      operationId: accessReviews_CreateDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/decisions/{accessReviewDecision-id}':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get decisions from accessReviews
      operationId: accessReviews_GetDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: accessReviewDecision-id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - accessReviews.accessReviewDecision
      summary: Update the navigation property decisions in accessReviews
      operationId: accessReviews_UpdateDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: accessReviewDecision-id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get instances from accessReviews
      operationId: accessReviews_ListInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
                - status
                - status desc
                - createdBy
                - createdBy desc
                - businessFlowTemplateId
                - businessFlowTemplateId desc
                - reviewerType
                - reviewerType desc
                - description
                - description desc
                - settings
                - settings desc
                - reviewedEntity
                - reviewedEntity desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - startDateTime
                - endDateTime
                - status
                - createdBy
                - businessFlowTemplateId
                - reviewerType
                - description
                - settings
                - reviewedEntity
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReview
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReview'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReview
      summary: Create new navigation property to instances for accessReviews
      operationId: accessReviews_CreateInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/instances/{accessReview-id1}':
    get:
      tags:
        - accessReviews.accessReview
      summary: Get instances from accessReviews
      operationId: accessReviews_GetInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - startDateTime
                - endDateTime
                - status
                - createdBy
                - businessFlowTemplateId
                - reviewerType
                - description
                - settings
                - reviewedEntity
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - reviewers
                - decisions
                - myDecisions
                - instances
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReview'
          links:
            reviewers:
              operationId: accessReview.instances.GetReviewers
              parameters:
                accessReview-id: $request.path.accessReview-id
                accessReview-id1: $request.path.accessReview-id1
                accessReviewReviewer-id: $response.body#/id
            decisions:
              operationId: accessReview.instances.GetDecisions
              parameters:
                accessReview-id: $request.path.accessReview-id
                accessReview-id1: $request.path.accessReview-id1
                accessReviewDecision-id: $response.body#/id
            myDecisions:
              operationId: accessReview.instances.GetMyDecisions
              parameters:
                accessReview-id: $request.path.accessReview-id
                accessReview-id1: $request.path.accessReview-id1
                accessReviewDecision-id: $response.body#/id
            instances:
              operationId: accessReview.instances.GetInstances
              parameters:
                accessReview-id: $response.body#/id
                accessReview-id1: $request.path.accessReview-id1
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - accessReviews.accessReview
      summary: Update the navigation property instances in accessReviews
      operationId: accessReviews_UpdateInstances
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReview-id1
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReview'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/microsoft.graph.applyDecisions':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action applyDecisions
      operationId: accessReviews_applyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/microsoft.graph.resetDecisions':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action resetDecisions
      operationId: accessReviews_resetDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/microsoft.graph.sendReminder':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action sendReminder
      operationId: accessReviews_sendReminder
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/microsoft.graph.stop':
    post:
      tags:
        - accessReviews.Actions
      summary: Invoke action stop
      operationId: accessReviews_stop
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: action
  '/accessReviews/{accessReview-id}/myDecisions':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get myDecisions from accessReviews
      operationId: accessReviews_ListMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - accessReviewId
                - accessReviewId desc
                - reviewedBy
                - reviewedBy desc
                - reviewedDateTime
                - reviewedDateTime desc
                - reviewResult
                - reviewResult desc
                - justification
                - justification desc
                - appliedBy
                - appliedBy desc
                - appliedDateTime
                - appliedDateTime desc
                - applyResult
                - applyResult desc
                - accessRecommendation
                - accessRecommendation desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReviewDecision
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReviewDecision
      summary: Create new navigation property to myDecisions for accessReviews
      operationId: accessReviews_CreateMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/myDecisions/{accessReviewDecision-id}':
    get:
      tags:
        - accessReviews.accessReviewDecision
      summary: Get myDecisions from accessReviews
      operationId: accessReviews_GetMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: accessReviewDecision-id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessReviewId
                - reviewedBy
                - reviewedDateTime
                - reviewResult
                - justification
                - appliedBy
                - appliedDateTime
                - applyResult
                - accessRecommendation
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - accessReviews.accessReviewDecision
      summary: Update the navigation property myDecisions in accessReviews
      operationId: accessReviews_UpdateMyDecisions
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewDecision-id
          in: path
          description: 'key: accessReviewDecision-id of accessReviewDecision'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewDecision
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewDecision'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/reviewers':
    get:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Get reviewers from accessReviews
      operationId: accessReviews_ListReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - userPrincipalName
                - userPrincipalName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of accessReviewReviewer
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Create new navigation property to reviewers for accessReviews
      operationId: accessReviews_CreateReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/accessReviews/{accessReview-id}/reviewers/{accessReviewReviewer-id}':
    get:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Get reviewers from accessReviews
      operationId: accessReviews_GetReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewReviewer-id
          in: path
          description: 'key: accessReviewReviewer-id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - userPrincipalName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - accessReviews.accessReviewReviewer
      summary: Update the navigation property reviewers in accessReviews
      operationId: accessReviews_UpdateReviewers
      parameters:
        - name: accessReview-id
          in: path
          description: 'key: accessReview-id of accessReview'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReview
        - name: accessReviewReviewer-id
          in: path
          description: 'key: accessReviewReviewer-id of accessReviewReviewer'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: accessReviewReviewer
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.accessReviewReviewer'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /agreements:
    get:
      tags:
        - agreements.agreement
      summary: Get entities from agreements
      operationId: agreements.agreement_ListAgreement
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
                - isViewingBeforeAcceptanceRequired
                - isViewingBeforeAcceptanceRequired desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isViewingBeforeAcceptanceRequired
                - files
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - files
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of agreement
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agreement'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreement
      summary: Add new entity to agreements
      operationId: agreements.agreement_CreateAgreement
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreement'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreement'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}':
    get:
      tags:
        - agreements.agreement
      summary: Get entity from agreements by key
      operationId: agreements.agreement_GetAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: agreement-id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - isViewingBeforeAcceptanceRequired
                - files
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - files
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreement'
          links:
            files:
              operationId: agreements.GetFiles
              parameters:
                agreement-id: $request.path.agreement-id
                agreementFile-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - agreements.agreement
      summary: Update entity in agreements
      operationId: agreements.agreement_UpdateAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: agreement-id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - agreements.agreement
      summary: Delete entity from agreements
      operationId: agreements.agreement_DeleteAgreement
      parameters:
        - name: agreement-id
          in: path
          description: 'key: agreement-id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/files':
    get:
      tags:
        - agreements.agreementFile
      summary: Get files from agreements
      operationId: agreements_ListFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: agreement-id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - language
                - language desc
                - fileName
                - fileName desc
                - fileData
                - fileData desc
                - isDefault
                - isDefault desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - language
                - fileName
                - fileData
                - isDefault
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of agreementFile
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.agreementFile'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - agreements.agreementFile
      summary: Create new navigation property to files for agreements
      operationId: agreements_CreateFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: agreement-id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFile'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFile'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/agreements/{agreement-id}/files/{agreementFile-id}':
    get:
      tags:
        - agreements.agreementFile
      summary: Get files from agreements
      operationId: agreements_GetFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: agreement-id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFile-id
          in: path
          description: 'key: agreementFile-id of agreementFile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFile
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - language
                - fileName
                - fileData
                - isDefault
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.agreementFile'
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - agreements.agreementFile
      summary: Update the navigation property files in agreements
      operationId: agreements_UpdateFiles
      parameters:
        - name: agreement-id
          in: path
          description: 'key: agreement-id of agreement'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreement
        - name: agreementFile-id
          in: path
          description: 'key: agreementFile-id of agreementFile'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: agreementFile
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.agreementFile'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /businessFlowTemplates:
    get:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Get entities from businessFlowTemplates
      operationId: businessFlowTemplates.businessFlowTemplate_ListBusinessFlowTemplate
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of businessFlowTemplate
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Add new entity to businessFlowTemplates
      operationId: businessFlowTemplates.businessFlowTemplate_CreateBusinessFlowTemplate
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/businessFlowTemplates/{businessFlowTemplate-id}':
    get:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Get entity from businessFlowTemplates by key
      operationId: businessFlowTemplates.businessFlowTemplate_GetBusinessFlowTemplate
      parameters:
        - name: businessFlowTemplate-id
          in: path
          description: 'key: businessFlowTemplate-id of businessFlowTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: businessFlowTemplate
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Update entity in businessFlowTemplates
      operationId: businessFlowTemplates.businessFlowTemplate_UpdateBusinessFlowTemplate
      parameters:
        - name: businessFlowTemplate-id
          in: path
          description: 'key: businessFlowTemplate-id of businessFlowTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: businessFlowTemplate
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.businessFlowTemplate'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - businessFlowTemplates.businessFlowTemplate
      summary: Delete entity from businessFlowTemplates
      operationId: businessFlowTemplates.businessFlowTemplate_DeleteBusinessFlowTemplate
      parameters:
        - name: businessFlowTemplate-id
          in: path
          description: 'key: businessFlowTemplate-id of businessFlowTemplate'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: businessFlowTemplate
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance:
    get:
      tags:
        - identityGovernance.identityGovernance
      summary: Get identityGovernance
      operationId: identityGovernance.identityGovernance_GetIdentityGovernance
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - entitlementManagement
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - entitlementManagement
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.identityGovernance'
          links:
            entitlementManagement:
              operationId: identityGovernance.GetEntitlementManagement
              parameters:
                entitlementManagement-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - identityGovernance.identityGovernance
      summary: Update identityGovernance
      operationId: identityGovernance.identityGovernance_UpdateIdentityGovernance
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.identityGovernance'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /identityGovernance/entitlementManagement:
    get:
      tags:
        - identityGovernance.entitlementManagement
      summary: Get entitlementManagement from identityGovernance
      operationId: identityGovernance_GetEntitlementManagement
      parameters:
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - accessPackageCatalogs
                - accessPackageResources
                - accessPackageResourceRequests
                - accessPackageResourceRoleScopes
                - accessPackages
                - accessPackageAssignmentPolicies
                - accessPackageAssignments
                - accessPackageAssignmentRequests
                - accessPackageAssignmentResourceRoles
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - accessPackageCatalogs
                - accessPackageResources
                - accessPackageResourceRequests
                - accessPackageResourceRoleScopes
                - accessPackages
                - accessPackageAssignmentPolicies
                - accessPackageAssignments
                - accessPackageAssignmentRequests
                - accessPackageAssignmentResourceRoles
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.entitlementManagement'
          links:
            accessPackageCatalogs:
              operationId: identityGovernance.entitlementManagement.GetAccessPackageCatalogs
              parameters:
                accessPackageCatalog-id: $response.body#/id
            accessPackageResources:
              operationId: identityGovernance.entitlementManagement.GetAccessPackageResources
              parameters:
                accessPackageResource-id: $response.body#/id
            accessPackageResourceRequests:
              operationId: identityGovernance.entitlementManagement.GetAccessPackageResourceRequests
              parameters:
                accessPackageResourceRequest-id: $response.body#/id
            accessPackageResourceRoleScopes:
              operationId: identityGovernance.entitlementManagement.GetAccessPackageResourceRoleScopes
              parameters:
                accessPackageResourceRoleScope-id: $response.body#/id
            accessPackages:
              operationId: identityGovernance.entitlementManagement.GetAccessPackages
              parameters:
                accessPackage-id: $response.body#/id
            accessPackageAssignmentPolicies:
              operationId: identityGovernance.entitlementManagement.GetAccessPackageAssignmentPolicies
              parameters:
                accessPackageAssignmentPolicy-id: $response.body#/id
            accessPackageAssignments:
              operationId: identityGovernance.entitlementManagement.GetAccessPackageAssignments
              parameters:
                accessPackageAssignment-id: $response.body#/id
            accessPackageAssignmentRequests:
              operationId: identityGovernance.entitlementManagement.GetAccessPackageAssignmentRequests
              parameters:
                accessPackageAssignmentRequest-id: $response.body#/id
            accessPackageAssignmentResourceRoles:
              operationId: identityGovernance.entitlementManagement.GetAccessPackageAssignmentResourceRoles
              parameters:
                accessPackageAssignmentResourceRole-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - identityGovernance.entitlementManagement
      summary: Update the navigation property entitlementManagement in identityGovernance
      operationId: identityGovernance_UpdateEntitlementManagement
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.entitlementManagement'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  /privilegedAccess:
    get:
      tags:
        - privilegedAccess.privilegedAccess
      summary: Get entities from privilegedAccess
      operationId: privilegedAccess.privilegedAccess_ListPrivilegedAccess
      parameters:
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - displayName
                - displayName desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - resources
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resources
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
      responses:
        '200':
          description: Retrieved entities
          content:
            application/json:
              schema:
                title: Collection of privilegedAccess
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.privilegedAccess'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedAccess.privilegedAccess
      summary: Add new entity to privilegedAccess
      operationId: privilegedAccess.privilegedAccess_CreatePrivilegedAccess
      requestBody:
        description: New entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedAccess'
        required: true
      responses:
        '201':
          description: Created entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedAccess'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}':
    get:
      tags:
        - privilegedAccess.privilegedAccess
      summary: Get entity from privilegedAccess by key
      operationId: privilegedAccess.privilegedAccess_GetPrivilegedAccess
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - displayName
                - resources
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resources
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
      responses:
        '200':
          description: Retrieved entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.privilegedAccess'
          links:
            resources:
              operationId: privilegedAccess.GetResources
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceResource-id: $response.body#/id
            roleDefinitions:
              operationId: privilegedAccess.GetRoleDefinitions
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceRoleDefinition-id: $response.body#/id
            roleAssignments:
              operationId: privilegedAccess.GetRoleAssignments
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceRoleAssignment-id: $response.body#/id
            roleAssignmentRequests:
              operationId: privilegedAccess.GetRoleAssignmentRequests
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceRoleAssignmentRequest-id: $response.body#/id
            roleSettings:
              operationId: privilegedAccess.GetRoleSettings
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceRoleSetting-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    patch:
      tags:
        - privilegedAccess.privilegedAccess
      summary: Update entity in privilegedAccess
      operationId: privilegedAccess.privilegedAccess_UpdatePrivilegedAccess
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
      requestBody:
        description: New property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.privilegedAccess'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
    delete:
      tags:
        - privilegedAccess.privilegedAccess
      summary: Delete entity from privilegedAccess
      operationId: privilegedAccess.privilegedAccess_DeletePrivilegedAccess
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: If-Match
          in: header
          description: ETag
          schema:
            type: string
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/resources':
    get:
      tags:
        - privilegedAccess.governanceResource
      summary: Get resources from privilegedAccess
      operationId: privilegedAccess_ListResources
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - externalId
                - externalId desc
                - type
                - type desc
                - displayName
                - displayName desc
                - status
                - status desc
                - registeredDateTime
                - registeredDateTime desc
                - registeredRoot
                - registeredRoot desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - externalId
                - type
                - displayName
                - status
                - registeredDateTime
                - registeredRoot
                - parent
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parent
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of governanceResource
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.governanceResource'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedAccess.governanceResource
      summary: Create new navigation property to resources for privilegedAccess
      operationId: privilegedAccess_CreateResources
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceResource'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceResource'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/resources/{governanceResource-id}':
    get:
      tags:
        - privilegedAccess.governanceResource
      summary: Get resources from privilegedAccess
      operationId: privilegedAccess_GetResources
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceResource-id
          in: path
          description: 'key: governanceResource-id of governanceResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceResource
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - externalId
                - type
                - displayName
                - status
                - registeredDateTime
                - registeredRoot
                - parent
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - parent
                - roleDefinitions
                - roleAssignments
                - roleAssignmentRequests
                - roleSettings
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceResource'
          links:
            parent:
              operationId: privilegedAccess.resources.GetParent
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceResource-id: $response.body#/id
            roleDefinitions:
              operationId: privilegedAccess.resources.GetRoleDefinitions
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceResource-id: $request.path.governanceResource-id
                governanceRoleDefinition-id: $response.body#/id
            roleAssignments:
              operationId: privilegedAccess.resources.GetRoleAssignments
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceResource-id: $request.path.governanceResource-id
                governanceRoleAssignment-id: $response.body#/id
            roleAssignmentRequests:
              operationId: privilegedAccess.resources.GetRoleAssignmentRequests
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceResource-id: $request.path.governanceResource-id
                governanceRoleAssignmentRequest-id: $response.body#/id
            roleSettings:
              operationId: privilegedAccess.resources.GetRoleSettings
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceResource-id: $request.path.governanceResource-id
                governanceRoleSetting-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - privilegedAccess.governanceResource
      summary: Update the navigation property resources in privilegedAccess
      operationId: privilegedAccess_UpdateResources
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceResource-id
          in: path
          description: 'key: governanceResource-id of governanceResource'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceResource
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceResource'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/roleAssignmentRequests':
    get:
      tags:
        - privilegedAccess.governanceRoleAssignmentRequest
      summary: Get roleAssignmentRequests from privilegedAccess
      operationId: privilegedAccess_ListRoleAssignmentRequests
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - resourceId
                - resourceId desc
                - roleDefinitionId
                - roleDefinitionId desc
                - subjectId
                - subjectId desc
                - linkedEligibleRoleAssignmentId
                - linkedEligibleRoleAssignmentId desc
                - type
                - type desc
                - assignmentState
                - assignmentState desc
                - requestedDateTime
                - requestedDateTime desc
                - reason
                - reason desc
                - status
                - status desc
                - schedule
                - schedule desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resourceId
                - roleDefinitionId
                - subjectId
                - linkedEligibleRoleAssignmentId
                - type
                - assignmentState
                - requestedDateTime
                - reason
                - status
                - schedule
                - resource
                - roleDefinition
                - subject
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
                - roleDefinition
                - subject
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of governanceRoleAssignmentRequest
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignmentRequest'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedAccess.governanceRoleAssignmentRequest
      summary: Create new navigation property to roleAssignmentRequests for privilegedAccess
      operationId: privilegedAccess_CreateRoleAssignmentRequests
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignmentRequest'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignmentRequest'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/roleAssignmentRequests/{governanceRoleAssignmentRequest-id}':
    get:
      tags:
        - privilegedAccess.governanceRoleAssignmentRequest
      summary: Get roleAssignmentRequests from privilegedAccess
      operationId: privilegedAccess_GetRoleAssignmentRequests
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleAssignmentRequest-id
          in: path
          description: 'key: governanceRoleAssignmentRequest-id of governanceRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleAssignmentRequest
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resourceId
                - roleDefinitionId
                - subjectId
                - linkedEligibleRoleAssignmentId
                - type
                - assignmentState
                - requestedDateTime
                - reason
                - status
                - schedule
                - resource
                - roleDefinition
                - subject
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
                - roleDefinition
                - subject
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignmentRequest'
          links:
            resource:
              operationId: privilegedAccess.roleAssignmentRequests.GetResource
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceRoleAssignmentRequest-id: $request.path.governanceRoleAssignmentRequest-id
                governanceResource-id: $response.body#/id
            roleDefinition:
              operationId: privilegedAccess.roleAssignmentRequests.GetRoleDefinition
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceRoleAssignmentRequest-id: $request.path.governanceRoleAssignmentRequest-id
                governanceRoleDefinition-id: $response.body#/id
            subject:
              operationId: privilegedAccess.roleAssignmentRequests.GetSubject
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceRoleAssignmentRequest-id: $request.path.governanceRoleAssignmentRequest-id
                governanceSubject-id: $response.body#/id
        default:
          $ref: '#/components/responses/error'
    patch:
      tags:
        - privilegedAccess.governanceRoleAssignmentRequest
      summary: Update the navigation property roleAssignmentRequests in privilegedAccess
      operationId: privilegedAccess_UpdateRoleAssignmentRequests
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleAssignmentRequest-id
          in: path
          description: 'key: governanceRoleAssignmentRequest-id of governanceRoleAssignmentRequest'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleAssignmentRequest
      requestBody:
        description: New navigation property values
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignmentRequest'
        required: true
      responses:
        '204':
          description: Success
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/roleAssignments':
    get:
      tags:
        - privilegedAccess.governanceRoleAssignment
      summary: Get roleAssignments from privilegedAccess
      operationId: privilegedAccess_ListRoleAssignments
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - $ref: '#/components/parameters/top'
        - $ref: '#/components/parameters/skip'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/filter'
        - $ref: '#/components/parameters/count'
        - name: $orderby
          in: query
          description: Order items by property values
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - id desc
                - resourceId
                - resourceId desc
                - roleDefinitionId
                - roleDefinitionId desc
                - subjectId
                - subjectId desc
                - linkedEligibleRoleAssignmentId
                - linkedEligibleRoleAssignmentId desc
                - externalId
                - externalId desc
                - startDateTime
                - startDateTime desc
                - endDateTime
                - endDateTime desc
                - memberType
                - memberType desc
                - assignmentState
                - assignmentState desc
                - status
                - status desc
              type: string
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resourceId
                - roleDefinitionId
                - subjectId
                - linkedEligibleRoleAssignmentId
                - externalId
                - startDateTime
                - endDateTime
                - memberType
                - assignmentState
                - status
                - resource
                - roleDefinition
                - subject
                - linkedEligibleRoleAssignment
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
                - roleDefinition
                - subject
                - linkedEligibleRoleAssignment
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                title: Collection of governanceRoleAssignment
                type: object
                properties:
                  value:
                    type: array
                    items:
                      $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignment'
                  '@odata.nextLink':
                    type: string
        default:
          $ref: '#/components/responses/error'
      x-ms-pageable:
        nextLinkName: '@odata.nextLink'
        operationName: listMore
      x-ms-docs-operation-type: operation
    post:
      tags:
        - privilegedAccess.governanceRoleAssignment
      summary: Create new navigation property to roleAssignments for privilegedAccess
      operationId: privilegedAccess_CreateRoleAssignments
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
      requestBody:
        description: New navigation property
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignment'
        required: true
      responses:
        '201':
          description: Created navigation property.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignment'
        default:
          $ref: '#/components/responses/error'
      x-ms-docs-operation-type: operation
  '/privilegedAccess/{privilegedAccess-id}/roleAssignments/{governanceRoleAssignment-id}':
    get:
      tags:
        - privilegedAccess.governanceRoleAssignment
      summary: Get roleAssignments from privilegedAccess
      operationId: privilegedAccess_GetRoleAssignments
      parameters:
        - name: privilegedAccess-id
          in: path
          description: 'key: privilegedAccess-id of privilegedAccess'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: privilegedAccess
        - name: governanceRoleAssignment-id
          in: path
          description: 'key: governanceRoleAssignment-id of governanceRoleAssignment'
          required: true
          schema:
            type: string
          x-ms-docs-key-type: governanceRoleAssignment
        - name: $select
          in: query
          description: Select properties to be returned
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - id
                - resourceId
                - roleDefinitionId
                - subjectId
                - linkedEligibleRoleAssignmentId
                - externalId
                - startDateTime
                - endDateTime
                - memberType
                - assignmentState
                - status
                - resource
                - roleDefinition
                - subject
                - linkedEligibleRoleAssignment
              type: string
        - name: $expand
          in: query
          description: Expand related entities
          style: form
          explode: false
          schema:
            uniqueItems: true
            type: array
            items:
              enum:
                - '*'
                - resource
                - roleDefinition
                - subject
                - linkedEligibleRoleAssignment
              type: string
      responses:
        '200':
          description: Retrieved navigation property
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/microsoft.graph.governanceRoleAssignment'
          links:
            resource:
              operationId: privilegedAccess.roleAssignments.GetResource
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceRoleAssignment-id: $request.path.governanceRoleAssignment-id
                governanceResource-id: $response.body#/id
            roleDefinition:
              operationId: privilegedAccess.roleAssignments.GetRoleDefinition
              parameters:
                privilegedAccess-id: $request.path.privilegedAccess-id
                governanceRoleAssignment-id: $request.path.governanceRoleAssignment-id
[...]
